{% extends 'base/base.html' %}
{% block navbar %}
{% endblock %}
{% block content %}
{% if validlink %}
<h1>Nueva contraseña</h1>
<form method="post">
{% csrf_token %}
{{form.new_password1.errors}}
<label for="id_new_password1">Nueva contraseña </label>
{{form.new_password1}}
{{form.new_password2.errors}}
<label for="id_new_password2">Confirme contraseña:</label>{{form.new_password2}}
<input  type="submit" value="Cambiar contraseña"/>
{% else %}
<h1 class="text-center">Enlace invalido: este enlace ya ha sido actualizado</h1>
{% endif %}
</form>
{% endblock %}